body {
  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.zone_ok {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 255, 0, 0.67);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 255, 0, 0.67);
  box-shadow: 0px 0px 10px 0px rgba(0, 255, 0, 0.67);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 8px #ea4c89, inset 0 0 8px #ea4c89;
  }
  50% {
    box-shadow: 0 0 16px #ea4c89, inset 0 0 14px #ea4c89;
  }
  100% {
    box-shadow: 0 0 8px #ea4c89, inset 0 0 8px #ea4c89;
  }
}

.zone_error {
  background-color: transparent;
  width: 140px;
  height: 140px;
  border-radius: 50px;
  box-shadow: 0 0 8px #ea4c89, inset 0 0 8px #ea4c89;
  -webkit-animation: pulse 2s linear 1s infinite;
}

.zone_error p {
  display: block;
  text-align: center;
  line-height: 140px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 24px;
  color: #ea4c89;
  text-shadow: 0 0 4px #ea4c89;
}
